body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b6cce !important;
  color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

/* NAVBAR */
.navbar {
  background: #161e77;
}
.navbar-log {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.4rem;
}

/* FORM */
form {
  background-color: #e5e5e5;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}
.row {
  margin: auto 0 !important;
}
input {
  background-color: #fff !important;
  padding: 0 5px !important;
  border: 1px solid #7e7a7a !important;
  border-radius: 1px;
}

/* TABLE */

table {
  border: 1px solid #212529;
  background-color: #fff;
  color: #212529;
  max-width: 700px;
  margin: 0 auto;
}
.table_title {
  background-color: #cdc8c8;
  font-weight: bold;
}
.table_totalpay {
  border: 3px solid #212529;
  font-size: 1.5rem;
  font-weight: 600;
}
.table_details {
  border: 3px solid #212529;
  background-color: #cdc8c8;
  font-weight: bold;
}
.table_camp2 {
  background-color: #cdc8c8;
  border-left: 2px solid #212529;
}
